
.dogtag-button {
  display: inline-block;
  padding: 12px 24px;
  background: linear-gradient(145deg, #d4d4d4, #f0f0f0, #a0a0a0);
  color: #949393;
  border: 2px solid #888;
  border-radius: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  letter-spacing: 1px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.25);
  transition: all 0.3s ease;
  text-decoration: none;
}

.dogtag-button:hover {
  background: linear-gradient(145deg, #e0e0e0, #cacaca, #999);
  box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
  transform: scale(1.05);
  color: #1f1f1f;
}



/* Hide scrollbar on all scrollable elements */
#scrollWrapper {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* Internet Explorer 10+ */
}

#scrollWrapper::-webkit-scrollbar {
  display: none;                /* Chrome, Safari and Opera */
}


/* Green glow for the soldier */
.glow-soldier img:hover {
  filter: drop-shadow(0 0 10px #ff1fc7);
  transition: 0.3s ease;
}

/* Blue glow for the board */
.glow-board img:hover {
  filter: drop-shadow(0 0 10px #4dffac);
  transition: 0.3s ease;
}

/* Zoom effect for the background */
.zooming {
  animation: zoom-in 0.8s ease-in-out forwards;
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.zoom-out {
  animation: zoomToBoard 1s ease-in-out forwards;
}

@keyframes zoomToBoard {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.scroll-list__wrp {
  width: 10%; height: 400px;
  overflow: auto;
  padding: 50px;
  box-shadow: none;
  background-color: transparent;
  border-radius: 8px;
  backdrop-filter: none;

}

.scroll-list__wrp::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.mask-fade {
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
  mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
