<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>AttHackMe - Home</title>
  <link rel="stylesheet" href="static/styles.css" />

  <script src="https://cdn.tailwindcss.com"></script>

  <audio id="click-sound" src="static/sounds/click-challenge.mp3" preload="auto"></audio>


</head>
<body class="bg-black m-0 overflow-hidden">

  <div id="scene" class="relative w-screen h-screen overflow-hidden">
    <!-- Image de fond -->
    <img src="static/images/background.png" alt="Home Background" class="absolute top-0 left-0 w-full h-full object-cover z-0" />

    <!-- Bouton Soldat (déplaçable) --> 
    <a href="/profile"
      id="soldier-button"
       class="absolute z-20 glow-soldier"
       style="top: -1px; left: -7px; width: 548px; height: 721px;">
      <img src="static/images/soldier.png" alt="Soldier" class="w-full h-full object-contain pointer-events-auto" />
    </a>
    

    <!-- Bouton Board (déplaçable) -->
    <a href="/challenges"
      id="board-button"
       class="absolute z-10 glow-board"
       style="top: 31px; left: 836px; width: 393.797px; height: 398.016px;">
      <img src="static/images/board.png" alt="Board" class="w-full h-full object-contain pointer-events-auto" />
    </a>
  </div>
  <div id="authSection" class="text-center mt-6">
    <!-- Bouton visibles quand non connecté -->
    <div id="authButtons" class="hidden fixed top-4 right-4 z-50 flex gap-4">
      <a href="/register" class="dogtag-button"> Register</a>
      <a href="/login" class="dogtag-button"> Login</a>
    </div>
    <button id="logoutBtn" class="dogtag-button hidden fixed top-4 right-4 z-50"> Logout</button>
  </div>
  <script src="static/app.js"></script>
</body>
</html>
